body{
  background-color: rgb(17, 216, 215);
  dispaly: flex;
  justify-content: center;
  align-items: center;
}

.VfxButton{
  display: flex;
  height: 100px;
  width: 200px;
  text-align: center;
  background-color: rgba(24, 176, 138, 0.7);
  align-items: center;
  margin: auto;
  padding: 60px;
}
